<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.test_240315.employee.model.dao.EmpMapper">
<select id="findAllEmp" resultType="com.ohgiraffers.test_240315.employee.model.dto.EmployeeDTO">
    SELECT
        e.emp_id,
        e.emp_name,
        e.emp_no,
        e.email,
        e.phone,
        d.dept_title,
        j.job_name,
        e.sal_level,
        e.salary,
        e.bonus,
        e.manager_id,
        e.hire_date
    FROM
        employee.employee e
    JOIN employee.job j on e.job_code = j.job_code
    JOIN employee.department d on d.dept_id = e.dept_code
    ORDER BY emp_id
</select>
<select id="findDeptList" resultType="com.ohgiraffers.test_240315.employee.model.dto.DepartmentDTO">
    SELECT
        dept_id,
        dept_title
    FROM employee.department
</select>
<select id="findJoblist" resultType="com.ohgiraffers.test_240315.employee.model.dto.JobDTO">
    SELECT
        *
    FROM employee.job
</select>
<select id="findSalGradeList" resultType="com.ohgiraffers.test_240315.employee.model.dto.SalGradeDTO">
    SELECT
        *
    FROM employee.sal_grade
</select>
<select id="findManagerIdList">
    SELECT DISTINCT
        manager_id
    FROM employee.employee
</select>
<insert id="registEmp">
    INSERT INTO employee.employee(emp_name, emp_no, email, phone, dept_code, job_code, sal_level, salary, bonus, manager_id, hire_date, ent_yn)
    VALUES (#{empName},#{empNo},#{email},#{phone},#{deptCode},#{jobCode},#{salLevel},#{salary},#{bonus},#{managerId},#{hireDate},#{entYn})
</insert>
</mapper>